h1 {
    text-align:center;
}

button {
    background-color: springgreen;
    border: 2px solid mediumspringgreen;
    padding: 1px;
    text-align: center;
    display: inline-block;
    font-size:16px;
}